<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd

					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-lazy-init="true">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:spring.properties</value>
            </list>
        </property>
    </bean>

    <bean id="dataSource"
          class="org.logicalcobwebs.proxool.ProxoolDataSource">
        <property name="driver" value="${jdbc.driverClassName}"/>
        <property name="driverUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="alias" value="Pool_wmeovg"/>
        <property name="maximumActiveTime" value="300000"/>
        <!--<property name="prototypeCount" value="5"/> -->
        <property name="maximumConnectionCount" value="500"/>
        <property name="minimumConnectionCount" value="50"/>
        <property name="simultaneousBuildThrottle" value="500"/>
        <property name="houseKeepingTestSql" value="select CURRENT_DATE"/>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingDirectoryLocations">
            <list>
                <value>classpath:org/david/rain/wmproxy/module/sys/entity</value>
                <value>classpath:org/david/rain/wmproxy/module/service/entity</value>
                <value>classpath:org/david/rain/wmproxy/module/config/entity</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLInnoDBDialect
                hibernate.show_sql=false
                hibernate.format_sql=false
                hibernate.query.substitutions=true 1, false 0
                hibernate.jdbc.batch_size=20
                hibernate.cache.use_second_level_cache = true
                hibernate.cache.use_query_cache = true
                hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
                hibernate.cache.provider_configuration_file_resource_path=../ehcache-hibernate.xml
            </value>
        </property>
        <property name="entityInterceptor">
            <ref local="treeInterceptor"/>
        </property>
    </bean>
    <bean id="treeInterceptor" class="org.david.rain.wmproxy.common.base.hibernate3.TreeIntercptor"/>
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- Hessian 启动BeanNameMapping 映射功能 -->
    <bean
            class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <property name="defaultHandler" ref="httpRequestHandlerAdapter"/>
        <property name="order" value="2"/>
    </bean>
    <!--  处理httpRequest的Adapter -->
    <bean id="httpRequestHandlerAdapter"
          class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>

    <!--系统上下文信息PROVIDER-->
    <bean id="contextPvd" class="org.david.rain.wmproxy.common.base.struts2.ContextPvdImpl"/>
    <context:component-scan base-package="org.david.rain"/>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <import resource="spring-jms-new.xml"/>
</beans>
