<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	   default-lazy-init="true">

	<description>Spring公共配置 </description>

	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan base-package="org.david.rain">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<!--引入jedistemplate-->
	<bean name="jedisTemplate" class="org.springside.modules.nosql.redis.JedisTemplate" >
		<constructor-arg ref = "jedisPool"/>
	</bean>

	<!-- unit test环境 -->
	<beans profile="test">
		
		<!--引入jedis测试服配置-->
	 	<context:property-placeholder ignore-resource-not-found="true"
			location="classpath*:/application.properties,
          			  classpath*:/application.test.properties" />
		<bean name="jedisPool" class="org.david.rain.dubbox.provider.redis.JedisFactoryBean">
			<property name="threadCount" value="${redis.threadcount}" />
			<property name="url" value="${redis.url}" />
		</bean>

	</beans>
</beans>