<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
	<contextName>spring-rain</contextName>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="org.david.rain.common.logback.MyPatternLayoutEncoder">
			<pattern>
				%d{HH:mm:ss.SSS} %-5level[%thread]%logger{32}:%line > %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.david.rain.contract" level="ALL" />
</configuration>
