<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 如下实现是通过线程池执行的 -->
   <!-- <task:executor id="executor" pool-size="10"/>
    <task:scheduler id="scheduler" pool-size="10"/>
    <task:annotation-driven scheduler="scheduler" executor="executor"/>-->


    <!--每分钟的10s执行一次-->
    <!--<task:scheduled-tasks scheduler="scheduler">-->
   <!-- <task:scheduled-tasks>
        &lt;!&ndash;自动清理删除的关系 每天2点执行执行 &ndash;&gt;
        <task:scheduled ref="statisticsService" method="getStatistics" cron="0/1 * * * * ?"/>
        <task:scheduled ref="reserveService" method="updateReserveStatus" cron="10 3 0 * * ?"/>
    </task:scheduled-tasks>-->

  </beans>