<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey"/>
        <property name="configLocation" value="classpath:quartz.properties"/>
    </bean>

    <bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="com.david.web.pppppp.service.quartz.MyQuartzJobBean"/>
    </bean>

    <!--&lt;!&ndash; 以下是检查发奖流程的定时器 &ndash;&gt;-->
    <!--<bean name="sendPrizeCheckerScheduler" lazy-init="false"-->
          <!--class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
        <!--<property name="triggers">-->
            <!--<list>-->
                <!--<ref bean="sendCronTrigger"/>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="sendCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">-->
        <!--<property name="jobDetail" ref="sendCheckeJob"/>-->
        <!--<property name="cronExpression" value="0 0/2 * * * ?"/>-->
    <!--</bean>-->

    <!--<bean id="sendCheckeJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject">-->
            <!--<ref bean="sendChecker"/>-->
        <!--</property>-->
        <!--<property name="targetMethod">-->
            <!--<value>execute</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="sendChecker" class="com.david.web.pppppp.service.sendcheck.SimpleSendChecker">-->
        <!--<property name="dataSourceList">-->
            <!--<list>-->
                <!--<value>huodong218</value>-->
                <!--<value>huodong161</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

</beans>