<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <bean id="shortMessageInterface" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceInterface" value="org.david.rain.monitor.hdinterface.ShortMessageInterface"/>
        <property name="serviceUrl" value="http://127.0.0.1:8383/shortMessageService"/>
    </bean>

    <bean id="logServiceInterface" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceInterface" value="org.david.rain.service.logservice.ILogService"/>
        <property name="serviceUrl" value="http://127.0.0.1:8383/logService"/>
    </bean>
</beans>