<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd "
       default-lazy-init="true">
    <description>Spring数据配置</description>

    <!-- BoneCP configuration -->
    <bean id="dataSource_W" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <!-- Connection Info -->
        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url.w}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!-- Connection Pooling Info -->
        <property name="idleConnectionTestPeriodInMinutes" value="${bonecp.idletest.minutes}"/>
        <property name="maxConnectionsPerPartition" value="${bonecp.maxConnectionsPerPartition}"/>
        <property name="minConnectionsPerPartition" value="${bonecp.minConnectionsPerPartition}"/>
        <property name="partitionCount" value="${bonecp.partitionCount}"/>
        <property name="acquireIncrement" value="${bonecp.acquireIncrement}"/>
        <property name="statementsCacheSize" value="${bonecp.statementsCacheSize}"/>
        <property name="releaseHelperThreads" value="${bonecp.releaseHelperThreads}"/>
    </bean>

    <!--构造注入 dbutils操作-->
    <!--注入queryNewRunner的为W数据库，spring管理事务-->
    <bean id="queryNewRunner" class="com.wanmei.games.utils.QueryNewRunner">
        <constructor-arg ref="dataSource_W"/>
    </bean>
    <!--dao层操作基础类-->
    <bean id="commonWriterImp" class="com.wanmei.games.client.dao.dbutils.CommonWriterImp">
        <constructor-arg ref="queryNewRunner"/>
    </bean>
    <!--transction on writer datasource -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" p:dataSource-ref="dataSource_W" />
    <!-- 使用annotation定义事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

</beans>
